@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: black;
}

body{
    background-image: url("./images/bgflower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial{
    padding: 30px 100px;
}

article h1{
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000;
    text-decoration: overline underline white 1px;
    margin-bottom: 25px;
}

article h1::after{
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
}

article img{
    height: 250px;
    width: 300px;
    border: 2px solid #fff;
    float: left;
    margin: 25px 25px 0 0;
}

.main-content{
    font-size: 20px;
    margin-top: 45px;
    line-height: 1.5;
}

.main-content p{
    text-align: justify;
}

.main-content h2{
    text-align: left;
    padding-bottom: 20px;

}

article h5{
    font-size: 28px;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

article p{
    font-size: 17px;
}

