/*
===================================================  
Title:  Personal Portfolios
Author: Professor Krasso
Date:  06 March 2022
Description: Rabampho's portfolios - grid style stylesheet
====================================================
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body{
    background-color: #ECF0F1;
    margin: 0px;
    padding: 0px;
    background-image: url("../images/bgflower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #b9b6b6;
}

.service-section{
    padding: 50px 60px;
}

.service-section h1{
    font-size: 48px;
    text-align: center;
    color: #AB433B;
    text-decoration: overline underline #1A1B1C 2px;
    font-weight: bolder;
    text-transform: uppercase;
}

.service-section h3{
    font-size: 36px;
    text-align: center;
    color: #1A1B1C;
    font-weight: bolder;
}

.cards-section{
    text-align: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cards-section>div{
    padding: 30px 10px;
    background-color: #939393;
    cursor: pointer;
    border: solid #1A1B1C 2px;
    border-radius: 10px;
}

.cards-section>div:hover{
    background-color: #93B4B7;
    transition: 0.2s ease;
}

.cards-section i{
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50px;
    background-color: #AB433B;
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.342);
}

.cards-section i:hover{
    background-color: #F3C761;
    transition: 0.5s ease;
}

.cards-section h2{
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.cards-section p{
    color: #EDE9E4;
    margin-bottom: 20px;
    line-height: 1.5;
}

.cards-section a{
    margin-top: 10px;
    display: block;
    color: white;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 1px;
}

.cards-section a:hover{
    color: #1A1B1C;
    background-color: #ECF0F1;
    padding: 10px 20px;
}

.cards-section a:visited{
    color: #AB433B;
}