@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    
}

body{
    background-image: url("./images/bgflower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
}

nav{
    width: 100%;
    height: 75px;
    background-color: #3D0C02;
    line-height: 75px;
    padding: 0px 50px;
    position: relative;
    z-index: 1;
    
    background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10));
}

nav .logo{
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

nav .logo p{
    float: left;
    color: darkred;
    text-transform: uppercase;
    text-decoration: overline underline;
    font-weight: bolder;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 10px;
    font-weight: bold;
    font-style: italic;
}

nav ul li a:hover{
    color: #A23835;
    text-decoration: solid #A23835 underline;
}

nav ul li .active{
    color: #A23835;
}

.banner {

    /* Center vertically and horizontally */
    position: absolute;
    top: 45%;
    left: 52%;
    margin: -50px 0 0 -70px;
    color: #000;
    font-size: 48px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Playfair Display', serif;
  }

  .banner-content .banner-text{
    font-size: 28px;
    display: block;
    text-align: right;
    color: #000; 
    margin: 25px 25px 0 auto;
  }

  #footer {
    font-size: 1em;
    width: 100%;
    border-top: 1px solid #E9E1DC;
    background-color: #686868;
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
   
}

#nav-footer-list li {
    color: white;
    margin: auto;
    margin-bottom: 0;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    padding: 3px 5px 3px 5px;
    
}

#nav-footer-list li a {
   
    color:  white;
    text-decoration: none;
}

#footer a:link {
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
    color: #A23835;
}

#copyright {
    text-align: center;
    font-size: .8em; 
}

/*content setting*/
.container .card-title {
    font-size: 36px;
    color: black;
    font-weight: bold; 
    margin-top: 30px; 
    margin-bottom: 15px;   
    text-decoration: underline double overline  darkred 2px;  
}

.card-title{
    font-size: 36px;
    color: black;
    text-align: center;
    font-weight: bold; 
    margin-top: 15px; 
    margin-bottom: 15px;
    text-decoration: solid underline overline darkred 2px;  
}

.bucket-list {
    text-align: center;
}

.bucket-list ul {
    list-style-type: none;
    color: #191A1A;
    display: inline-block;
    text-align: center;
    font-size: 24px; 
    padding: 0 0 4px 20px;
    padding-bottom: 5px;
    letter-spacing: 1.5px;
  
}

.bucket-list li {
padding-bottom: 10px;

}

.container-1{
    
    width: 95%;
    background-color: #686868;
    margin: 35px auto;
    height: 75vh;
    background-image: url("./images/river.jpg");
    background-position: center;
    background-size: cover;
    border: #A23835 solid double 3px;
}

.assign-container {
    padding: 10px;
    font-size: 60px;
    bottom: 45%;
    left: 52%;
    margin: -60px 10px 10px -60px;
}

.assign-content {
    width: 600px;
    margin: 3% auto 0;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    
}

.banner-title {
    padding-top: 10%;
    font-size: 48px;
    color: #A23835;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    padding-right: 90px;
    letter-spacing: 1.5;
}


.card-content {

    padding: 20px 10px;
    text-align: center;
    color: #A23835;
    
}    

.card-content h2{
    font-family: 'Special Elite', cursive;
    padding: 25px 0 50px 0;
    text-align: center;
}

